* {
   box-sizing: border-box;
}

html,body {
   margin: 0;
}

h1 {
   color: #ffffff;
   font-size: 40px;
   font-family: 'Fira Sans', sans-serif;
   padding: 10px 0 10px 20px;
   margin-top: 0;
   margin-bottom: 0;
   background: rgb(93,0,210);
   background: linear-gradient(90deg, rgba(93,0,210,1) 0%, rgba(0,55,159,1) 100%);
}

h1:not(:first-child) {
   margin-top: 40px;
}
